@import "tailwindcss";

@theme {
  --color-primary: #FFDE42;       /* Your exact yellow: #FFDE42 */
  --color-primary-hover: #F0D03B;
  --color-navy: #0B1221;
  --font-bricolage: "Bricolage Grotesque", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

body {
  font-family: var(--font-bricolage);
  -webkit-font-smoothing: antialiased;
}